:root {
  --dark-charcoal: hsl(24, 5%, 18%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --nutmeg: hsl(14, 45%, 36%);
  --rose-white: hsl(330, 100%, 98%);
  --wenge-brown: hsl(30, 10%, 34%);
  --white: hsl(0, 0%, 100%);


  --ff-young-serif: "Young Serif", sans-serif;
  --ff-outfit-font: "Outfit", serif;

  --fw-medium: 400;
  --fw-bold: 600;
  --fw-ultra-bold: 700;
}

* {
  box-sizing: border-box;
}

img {
    width: 100%;
}
